@model IEnumerable<MVC5HW1.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "客戶資料", FormMethod.Get))
    { 
<p>
    客戶分類 @Html.DropDownList("Type", "All")
    @Html.TextBox("Name")
    <input type="submit" value="查詢" />
</p>
    } 
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { Order = ViewBag.客戶名稱SortParm })
        </th>
        <th>
            @Html.ActionLink("統一編號", "Index", new { Order = ViewBag.統一編號SortParm })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { Order = ViewBag.電話SortParm })
        </th>
        <th>
            @Html.ActionLink("傳真", "Index", new { Order = ViewBag.傳真SortParm })
        </th>
        <th>
            @Html.ActionLink("地址", "Index", new { Order = ViewBag.地址SortParm })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { Order = ViewBag.EmailSortParm })
        </th>
        <th>
            @Html.ActionLink("客戶分類", "Index", new { Order = ViewBag.客戶分類SortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.統一編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.傳真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶分類)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
